{% load core_tags %}

{% if is_following %}
<input type="button" id="follow-{{ content_type.id }}-{{ object.id }}" class="btn btn-danger" follow_dajax="Dajaxice.core.follow(follow_callback, { 'content_type_id': {{ content_type.id }}, 'object_id': {{ object.id }} })" onclick="Dajaxice.core.unfollow(follow_callback, { 'content_type_id': {{ content_type.id }}, 'object_id': {{ object.id }} })" value="Unfollow" />
{% else %}
<input type="button" id="follow-{{ content_type.id }}-{{ object.id }}" class="btn btn-primary" follow_dajax="Dajaxice.core.unfollow(follow_callback, { 'content_type_id': {{ content_type.id }}, 'object_id': {{ object.id }} })" onclick="Dajaxice.core.follow(follow_callback, { 'content_type_id': {{ content_type.id }}, 'object_id': {{ object.id }} })" value="Follow" />
{% endif %}

