{% extends "site_base.html" %}

{% load i18n %}
{% load core_tags avatar_tags %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block body_class %}user-profile{% endblock %}

{% block body %}
<div id="user-details">
  <div class="pull-left">
    <div>
      <div class="pull-right name">{{  profile_user.first_name  }}</div>
      <div class="pull-left">
        <div id="avatar-block">
          {% if user == profile_user %}
            <div id="change-avatar">
              <a  href="{% url 'avatar_change' %}" class="btn">Change</a>
            </div>
          {% endif %}
          <div id="avatar-image">
            {% avatar profile_user 130 %}
          </div>
        </div>

      </div>
    </div> 
  </div>
  {% if user == profile_user %}
  <div class="pull-right">
  <a href="{% url 'account_settings' %}" class="btn btn-primary">Edit profile</a>
  </div>
  {% endif %}
  <div class="clearfix"></div>

</div>

<div class="clearfix"></div>

<button class="btn btn-primary" id="add-board" data-toggle="modal" data-target="#new-board-modal">Add board</button>
{% with user=user object=profile_user %}
    {% include "includes/follow.html" %}
{% endwith %}

<h3>Boards</h3>
<div class="boards row">
    {% for board in boards %}
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="board">
              <a href="{% url 'user-board' profile_user.username board.slug %}">
                  <h3 class='title'> {{ board.name }} </h3>
              </a>
                  
              <a href="{% url 'user-board' profile_user.username board.slug %}">
                  
                  {% for pin in board.pin_set.all %}
                      {% if forloop.counter == 1 %}
                          <div class="pin-cover"> <img src="{{ pin.image.url }}" class='pin-image img img-responsive'/> </div>
                          {% if not forloop.last %} <div class="small-pins"> {% endif %}
                      {% else %}
                           <img src="{{ pin.image.url }}" class="pin-image  img img-responsive" />
                          {% if forloop.last %} </div> {% endif %}

                      {% endif %}
                  {% endfor %}
                  {% if not board.pin_set.count %}
                     <h2>No pins</h2>
                  {% endif %}
              </a>
                  {% with user=user object=board col=True %}
                      {% include "includes/follow.html" %}
                  {% endwith %}
            </div>
        </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>


<div class="modal fade" id="new-board-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create a board</h4>
      </div>
      <div class="modal-body">
        {% include "includes/board_form_new.html" with board_html_name="from-profile" %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}pinterest_clone/js/follow.js"></script>
{% endblock %}

