.board {
  min-height: 280px;
  border: 1px solid #E7DDDD;
  padding: 5px;

  a {
  	text-decoration: none;
  }

  .title { text-align: center; margin-top: 5px; }

  .pin, .pin-cover {
  	text-align: center;
  }

  .pin {
   display: inline-block;
   img {
	 width: 50px; height: 50px;
   }
  }
  
  .small-pins .pin-image {
  	width: 28.7%;
	display: inline-block;
	margin: 10px 1.8%;
	padding: 0;
	overflow: hidden;
  }
}